<li class="card col-3">
    <a href="http://qtjina.dothome.co.kr/coffeenamu" target="_blank">
        <img src="images/web_coffeenamu.jpg" alt="w1">
        <div class="tit">
            <h3>Website Renewal<span>web</span></h3>
            <p>커피나무 브랜드 홈페이지(main, sub page) 제작</p>
        </div>
    </a>
</li>
<li class="card col-3">
    <a href="http://qtjina.github.io/pixar" target="_blank">
        <img src="images/web_pixar.jpg" alt="w2">
        <div class="tit">
            <h3>Randing page<span>web</span></h3>
            <p>픽사 랜딩 페이지 제작</p>
        </div>
    </a>
</li>
<li class="card col-3">
    <a href="http://qtjina.github.io/koreatech" target="_blank">
        <img src="images/web_koreatech.jpg" alt="w3">
        <div class="tit">
            <h3>Website Renewal<span>web</span></h3>
            <p>한국기술교육대학교 홈페이지(main, sub page) 제작</p>
        </div>
    </a>
</li>
<li class="card col-3">
    <a href="http://qtjina.github.io/ikea" target="_blank">
        <img src="images/web_ikea.jpg" alt="w4">
        <div class="tit">
            <h3>Website Renewal<span>web</span></h3>
            <p>이케아 코리아 브랜드 홈페이지(main page) 제작</p>
        </div>
    </a>
</li>
<li class="card col-3">
    <a href="http://qtjina.github.io/wdjf" target="_blank">
        <img src="images/dm_wdjf.jpg" alt="w5">
        <div class="tit">
            <h3>DM (Direct Mail)<span>web</span></h3>
            <p>인라인 요소를 활용한 다이렉트 메일 작성</p>
        </div>
    </a>
</li>
<li class="card col-3">
    <a href="images/thn_1.jpg" data-fancybox="gallery" data-caption="[ Mobile UI/UX Design ] 부산타워 홈페이지를 모티브로 모바일 레이아웃 디자인">
        <img src="images/thn_1.jpg" alt="w6">
        <div class="tit">
            <h3>Mobile UI/UX Design</h3>
            <p>부산타워 홈페이지를 모티브로 모바일 레이아웃 디자인</p>
        </div>
    </a>
</li>
<li class="card col-3">
    <a href="images/banner_adidas.jpg" data-fancybox="gallery" data-caption="[ Visual banner ] 아디다스 비쥬얼 배너 제작">
        <img src="images/banner_adidas.jpg" alt="w7">
        <div class="tit">
            <h3>Visual banner</h3>
            <p>아디다스 비쥬얼 배너 제작</p>
        </div>
    </a>
</li>
<li class="card col-3">
    <a href="images/banner_coffee.jpg" data-fancybox="gallery" data-caption="[ Visual banner image ] 드롭탑 비쥬얼 배너 이미지">
        <img src="images/thn_2.jpg" alt="w8">
        <div class="tit">
            <h3>Visual banner image</h3>
            <p>드롭탑 비쥬얼 배너 이미지</p>
        </div>
    </a>
</li>
<li class="card col-3">
    <a href="images/banner_vt cosmetics.jpg" data-fancybox="gallery" data-caption="[ Brand banner image ] 브이티 코스메틱 배너 이미지">
        <img src="images/thn_3.jpg" alt="w9">
        <div class="tit">
            <h3>Brand banner image</h3>
            <p>브이티 코스메틱 배너 이미지</p>
        </div>
    </a>
</li>
<li class="card col-3">
    <a href="images/layout_osulloc.jpg" data-fancybox="gallery" data-caption="[ Flat UI Layout ] 오설록 페이지 레이아웃 디자인">
        <img src="images/layout_osulloc.jpg" alt="w10">
        <div class="tit">
            <h3>Flat UI Layout</h3>
            <p>오설록 페이지 레이아웃 디자인</p>
        </div>
    </a>
</li>
<li class="card col-3">
    <a href="images/card_ui.png" data-fancybox="gallery" data-caption="[ Card UI ] 정보 전달을 목적으로 한 카드 UI 디자인">
        <img src="images/thn_7.jpg" alt="w11">
        <div class="tit">
            <h3>Card UI</h3>
            <p>정보 전달을 목적으로 한 카드 UI 디자인</p>
        </div>
    </a>
</li>
<li class="card col-3">
    <a href="images/thn_6.jpg" data-fancybox="gallery" data-caption="[ Material icon ] 머터리얼 디자인을 활용한 날씨 아이콘">
        <img src="images/thn_6.jpg" alt="w12">
        <div class="tit">
            <h3>Material icon</h3>
            <p>머터리얼 디자인을 활용한 날씨 아이콘</p>
        </div>
    </a>
</li>
<li class="card col-3">
    <a href="images/icon_app.jpg" data-fancybox="gallery" data-caption="[ Material icon ] 머터리얼 디자인을 활용한 어플리케이션 아이콘">
        <img src="images/thn_4.jpg" alt="w13">
        <div class="tit">
            <h3>Material icon</h3>
            <p>머터리얼 디자인을 활용한 어플리케이션 아이콘</p>
        </div>
    </a>
</li>
<li class="card col-3">
    <a href="images/namecard.png" data-fancybox="gallery" data-caption="[ Name card design ] 가상의 개인 브랜드 기프트샵 '자두'의 명함 디자인">
        <img src="images/namecard.png" alt="w14">
        <div class="tit">
            <h3>Name card design</h3>
            <p>가상의 개인 브랜드 기프트샵 '자두'의 명함 디자인</p>
        </div>
    </a>
</li>
<li class="card col-3">
    <a href="images/foxgamja.jpg" data-fancybox="gallery" data-caption="[ Flyer/Name card design ] 여우감자탕 전단지/명함 제작 및 배포">
        <img src="images/foxgamja.jpg" alt="w15">
        <div class="tit">
            <h3>Flyer/Name card design</h3>
            <p>여우감자탕 전단지/명함 제작 및 배포</p>
        </div>
    </a>
</li>
